{% extends 'base.html' %}

{% block content %}

{% for country in all_countries %}


   
       
    
    <div>
        <p>Country: {{ country.name }}</p>
        <p>Continent: {{ country.continent }}</p>
        <p>Language: {{ country.language }}</p>
        
        <button><a href="/countries/{{ country.id }}/edit">Update</a></button>
        <button><a href="/countries">Delete</a></button>
        
        
    </div>
    <br>
    {% endfor %}


<button><a href="/countries/new">Add New Country</a></button>



{% endblock content %}