{% extends 'base.html' %}

{% block content %}

{% for country in all_countries %}


   
       
    
    <div>
        <p>Country: {{ country.name }}</p>
        <p>Continent: {{ country.continent }}</p>
        <p>Language: {{ country.language }}</p>
        
        <button><a href="/countries/{{ country.id }}/edit">Update</a></button>
        <section> 
        <form class="delete-form" action="/countries/{{country.id}}/delete" method="POST">
          <input type="submit" value="Delete" style="color: blue;">
          </form>
          <div>
      <br>
        
    <br>
    {% endfor %}


<button><a href="/countries/new">Add New Country</a></button>



{% endblock content %}