{% extends 'base.html' %}

{% block content %}   
<h3>Please use the form below to add a new country to your 'Travel Bucket List'</h3>
<div class="country-form-contianer"></div>
<form action="/countries" method="post" id="form1">
 <div>   
    <label for="country name">Country name</label>
    <input type="text" name="name" placeholder="name">
</div>

<div>
    <label for="continent">Continent</label>
    <input type="text" name="continent" placeholder="continent">
</div>

<div>
<label for="language">Language</label>
<input type="text" name="language" placeholder="language">
</div>

<button type="submit" form="form1" value="Submit">Submit</button>
</form>
<br>
<img src="https://source.unsplash.com/500x500/?{COUNTRY}" alt="photo of country">
{% endblock content %}