{% extends 'base.html' %}

{% block content %}
 <h2>Country Form</h2>   
<h3>Please use the form below to add a new country to your 'Travel Bucket List'</h3>
<form action="/countries" method="post" id="form1">
<label for="country name">Country name</label>
<input type="text" name="name" placeholder="name">

<label for="continent">Continent</label>
<input type="text" name="continent" placeholder="continent">

<Rlabel for="language">Language</label>
<input type="text" name="language" placeholder="language">


<button type="submit" form="form1" value="Submit">Submit</button>
</form>
{% endblock content %}