{% extends 'base.html' %}


{% block content %}

        <p>Country: {{country.name}}</p>
        <p>Continent: {{ country.continent }}</p>
        <p>Language: {{ country.language }}</p>

        {% if country.visited == True %}
        <p>Visited: &#x2714</p>
        {% else %}
        <p>Visited: &#x2716</p>
        {% endif %}
        <button><a href="/countries">Back to Countries</a></button>   
<img src="https://source.unsplash.com/500x500/?{{country.name}}" alt="photo of country">

{% endblock content %}