{% extends 'base.html' %}

{% block content %}
<h2>Cities</h2>


{% for city in all_cities %}

    
        <a href="/cities/{{city.id}}">{{city.name}}</a><br>   
    <button><a href="/cities/{{ city.id }}/edit">Update</a></button>
  <br>
        <br>
        <form class="delete-form" action="/cities/{{city.id}}/delete" method="POST">
          <input type="submit" value="Delete" style="color: blue;">
          </form>

    {% endfor %}
<br>

<button><a href="/cities/new">Add New City</a></button>
{% endblock %}