{% extends 'base.html' %}

{% block content %}
<h2>Cities</h2>
{% for city in all_cities %}

    
        <p>City: {{ city.name }}</p>
        <p>Country: {{ city.country.name }}</p>
         
        
        {% if city.visited == True %}
          <p>Visited: &#x2714</p>
        {% else %}
          <p>Visited: &#x2716</p>
        {% endif %}
        
    <button><a href="/cities/{{ city.id }}/edit">Update</a></button>
    <section>
        <br>
        <form class="delete-form" action="/cities/{{city.id}}/delete" method="POST">
          <input type="submit" value="Delete" style="color: blue;">
          </form>
    <br>
    {% endfor %}
<br>
<button><a href="/cities/new">Add New City</a></button>
{% endblock %}