{% extends 'base.html' %}

{% block content %}
<br>
<h1>You can view each City by clicking on the City name.</h1>
<br>
<br>
<button><a href="/cities/new">Add New City</a></button>
<br>
<br>
<section>
{% for city in all_cities %}

    
        <a class="cityname" href="/cities/{{city.id}}">{{city.name}}</a>
        <br>
        <br>   
    <button><a href="/cities/{{ city.id }}/edit">Update</a></button>
    <br>
    <br>
        <form class="delete-form" action="/cities/{{city.id}}/delete" method="POST">
          <input type="submit" value="Delete" style="color: blue;">
          </form>
          <br>
          <br>
    {% endfor %}
  </section>
<br>


{% endblock %}