/*index.html*/
.photos {
    margin-left: 20px;
}

.description{
    margin-left: 23px
}



    
    
    
/* base.html */
nav > h1{
    text-align: center;
    font-size: 40px;
    list-style: none;
    color: rgb(21, 149, 223);
}

.border {
    color: rgb(21, 149, 223);
}

header {
    display: flex;
    justify-content: flex-start;
    background-color: hsl(59, 82%, 66%);
    border: 2px solid;
    border-color: rgb(21, 149, 223);;
}

.title {
    
    margin-left: 50px;
    color: rgb(21, 149, 223);
    
}

p {
    color: rgb(6, 142, 221);
}


html {
    background-color: rgb(245, 241, 209);
}

/* city/index.html */

body > h1 {
    font-size: 25px;
    text-align: center;
    color: rgb(21, 149, 223);
}

.cityname {
    font-size: 27px;
    text-align: center;

}

.city-container {
    border: 2px solid;
    margin: 20px;
    width: 180px;
    height: 220px;
}

.city-list-container {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap
}





/* city/edit.html */




/* city/new.html */


/* cities/show.html */




/* country/index.html */
.countryname {
    font-size: 27px;
}

.country-container {
    border: 2px solid;
    margin: 20px;
    width: 180px;
    height: 220px;
}

.country-list-container {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap
}


/* country/edit.html */


h2 {
    color: rgb(21, 149, 223);
}

/* country/new.html */

h3 {
    color: rgb(21, 149, 223);
}

/* country/show.html */

.show-list-container {
    border: 3px solid;
    padding: 10px;
    width: 150px;
    height: 150px;
    border-color: rgb(21, 149, 223);

    

}