/*index.html*/







    
    
    
/* base.html */
nav > h1{
    text-align: center;
    font-size: 40px;
}

header {
    display: flex;
    justify-content: flex-start;
    color: lightgoldenrodyellow;
}

.title {
    
    margin-left: 50px;
    color: rgb(135, 198, 219);
}

.description{
    margin-right: 400px;
}

.lists {
    list-style-type: square;
}
html {
    background-color: rgb(135, 198, 219);

}
/* city/index.html */




/* city/edit.html */




/* city/new.html */




/* country/index.html */




/* country/edit.html */




/* country/new.html */