/*index.html*/






    
    
    
/* base.html */
nav > h1{
    text-align: center;
    font-size: 40px;
    list-style: none;
}

header {
    display: flex;
    justify-content: flex-start;
    background-color: hsl(59, 82%, 66%);
    border-color: black;
    
}

.title {
    
    margin-left: 50px;
    color: rgb(21, 149, 223);
    
}

.description{
    margin-right: 400px;
}

.lists {
    list-style-type: disc;
}
html {
    background-color: rgb(245, 241, 209);
}

.photos {
    margin-left: 20px;
}
/* city/index.html */

body > h1 {
    font-size: 25px;
    text-align: center;
    color: rgb(21, 149, 223);
}

.cityname {
    font-size: 27px;
}





/* city/edit.html */




/* city/new.html */




/* country/index.html */
.countryname {
    font-size: 27px;
}


/* country/edit.html */




/* country/new.html */