{% extends "base.html" %}
{% block content %}


<body>
    <section class="description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, debitis accusantium rem eos nihil sunt numquam. Hic voluptatibus rem officia ea magni ab, vitae eveniet. Sit iste dolorem beatae vitae!</p>
    </section>
    <img src="" alt="" />
    <img src="https://source.unsplash.com/YmQ0-nmWcV0/200x200" alt="coromandel cave">
    <img src="https://source.unsplash.com/3wFRlwS91yk/200x200" alt="austria">
    <img src="https://source.unsplash.com/aPSIL_4f_wg/200x200" alt="nairn">
    <img src="https://source.unsplash.com/PM5a_R83-YQ/200x200" alt="switzerland">
    <img src="https://source.unsplash.com/X4D66HkQvV4/200x200" alt="denmark">
    <img src="https://source.unsplash.com/azqdBkIHVo0/200x200" alt="canada">
    <img src="https://source.unsplash.com/DTgvAa5pKO4/200x200" alt="finland">
    <img src="https://source.unsplash.com/ysT-xbhhK2c/200x200" alt="scotland">
    <img src="https://source.unsplash.com/LSscVPEyQpI/200x200" alt="barcelona">
    <img src="https://source.unsplash.com/6En4WYsNYXM/200x200" alt="prague">
    <img src="https://source.unsplash.com/2K2SR19RLg8/200x200" alt="netherlands">
    <img src="https://source.unsplash.com/Ql9PCaOhyyE/200x200" alt="france">
</body>



{% endblock content %}